body{
    margin:0%;
    padding: 0%;
    background-color:beige;
    
}

canvas{
    position: absolute;
    margin: auto;
    padding: 0%;
    background-color: aqua;
    left:0%;
    right:0%;
    bottom:0%;
    top:0%;
    
}

